html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5vh 80vh 15vh;
    grid-template-areas:
            "h"
            "m"
            "f";
}

header {
    grid-area: h;
    background: #0F171E;
}

.header_text_align {
    display: flex;
    color: #8197A4;
    justify-content: left;
    transform: translate(0,-10%);
    margin-left: 0.5%;
}

main {
    grid-area: m;
    background-image: url("../img/index_fundo.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #8197A4;
}

.main_logo {
    display: flex;
    margin-left: 170px;
    margin-top: 150px;
    width: 8%;
}

.main_text {
    display: flex;
    color: white;
    margin-left: 170px;
    margin-top: 20px;
    font-size:38px;
}

.main_text1 {
    display: flex;
    color: white;
    margin-left: 170px;
    margin-top: -10px;

}

.main_button {
    display: flex;
    background-color: #8B0000;
    border: none;
    color: white;
    padding: 20px 70px;
    text-decoration: none;
    font-size: 18px;
    margin-left: 170px;
    margin-top: 30px;
    border-radius: 4px;
}

.main_button:hover{
    color: white;
    background-color: red;
}

footer {
    grid-area: f;
    background: #0F171E;
}

.footer_logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
    margin-top: 20px;
}

.footer_text {
    display: flex;
    color: #8197A4;
    justify-content: center;
    margin-top: -10px;
}

.footer_text1 {
    padding: 10px;
}
