html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 4vh 96vh;
    grid-template-areas:
            "h h"
            "a m";
}

header {
    grid-area: h;
    background: red;
}

aside {
    grid-area: a;
    background: green;
    z-index: 9;
}

main {
    grid-area: m;
    background: blue;
    padding: 10px;
}

.linha {
    width: 95%;
    height: 150px;
    background: red;
    margin: auto;
}

.linha_animacao {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    right: 200px;
    background: aqua;

}

.linha_filme {
    width: 16.2%;
    height: 100%;
    background: white;
}

/*after */
/*before*/

