*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}


.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100vh;
    grid-template-areas:
            "a m";
    position: absolute;
}

aside {
    grid-area: a;
    background: #1B2530;
    z-index: 2;
    position: relative;
}

.aside-logo{
    display: flex;
    margin: 10% auto 10%;
    width: 50%;
}

.aside-button{
    display: flex;
    align-items: center;
    background-color: #1B2530;
    height: 6%;
    width: 100%;
    font-size: 1.25rem;
    padding: 10% 0 10% 6%;
    color: #8197A4;
    border: none;
}

.aside-button:hover{
    color: white;
    cursor: pointer;
}

.aside-button1{
    display: flex;
    align-items: center;
    background-color: #1B2530;
    height: 6%;
    width: 100%;
    font-size: 1.25rem;
    padding-left: 6%;
    position: absolute;
    bottom: 0;
    color: #8197A4;
    border: none;
}

.aside-button1:hover{
    color: white;
    cursor: pointer;
}

.aside-icon{
    margin-right: 6%;
}

.aside-icon1{
    margin-left: 50%;
}

main {
    grid-area: m;
    background: #0F171E;
    padding-top: 2%;
}

.main-text-container{
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-text-right{
    margin-left: 5%;
}

.main-text-title{
    color: white;
    font-size: 1.6rem;
    margin-top: 5%;
    margin-bottom: 2%;
}

.main-text{
    color: #8197A4;
    font-size: 1.4rem;
    margin-bottom: 1%;
}

.main-button{
    display: flex;
    background-color: #0F171E;
    align-items: center;
    height: 40px;
    width: 700px;
    font-size: 1.4rem;
    color: #8197A4;
    border: none;
    border-bottom: 1px solid #8197A4;
}

.main-button:hover{
    color: white;
    cursor: pointer;
}
